<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AjouterLivre</servlet-name>
        <servlet-class>ControllerLivre.AjouterLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionAdherent</servlet-name>
        <servlet-class>ControllerAdherent.InscriptionAdherent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterEditeur</servlet-name>
        <servlet-class>ControllerEditeur.AjouterEditeur</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjouterLivre</servlet-name>
        <url-pattern>/AjouterLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionAdherent</servlet-name>
        <url-pattern>/InscriptionAdherent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterEditeur</servlet-name>
        <url-pattern>/AjouterEditeur</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
